<nav class="bg-black text-white border-end">
    <div class="d-flex flex-column flex-shrink-0 h-100">
        <a href="/"
           class="d-block py-1 text-center text-decoration-none border-bottom"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           data-bs-original-title="Icon-only">
            <span class="fs-1">⫹⫺</span>
            <br><small class="fw-bold text-uppercase">platform</small>
            <span class="visually-hidden">Icon-only</span> </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="admin">
                    <i class="bi bi-speedometer2 fs-4"></i>
                    <br><small>ADMIN</small>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="Content Management System">
                    <i class="bi bi-globe fs-3 p-0 m-0"></i>
                    <br><small>WEB</small>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="Customer Relationship Management">
                    <i class="bi bi-people fs-3 p-0 m-0"></i>
                    <br><small>CRM</small>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="E-commerce">
                    <i class="bi bi-cart fs-3 p-0 m-0"></i>
                    <br><small>ECOM</small>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="Enterprise Resource Planning">
                    <i class="bi bi-briefcase fs-3 p-0 m-0"></i>
                    <br><small>ERP</small>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="Analytics">
                    <i class="bi bi-graph-up fs-3 p-0 m-0"></i>
                    <br><small>ANALYTICS</small>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="tools">
                    <i class="bi bi-tools fs-3 p-0 m-0"></i>
                    <br><small>TOOLS</small>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a href="#" class="nav-link link-body-emphasis text-secondary fw-bold" title="settings">
                    <i class="bi bi-gear fs-3 p-0 m-0"></i>
                    <br><small>SETTINGS</small>
                </a>
            </li>
        </ul>
        <div class="border-top">
            <button class="btn btn-sm btn-outline-secondary" id="themeToggle" type="button" aria-label="Toggle theme" title="Toggle light/dark">
                <i class="bi bi-sun-fill" id="themeIcon"></i>
            </button>
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none">
                <i class="bi bi-question-circle text-secondary p-0 m-0 fs-5"></i>
            </a>
        </div>
    </div>
</nav>

<aside id="app-aside" class="h-100 border-end" aria-label="Sidebar">
    <div class="flex-shrink-0 p-3" style="width: 280px;">
        <a href="/" class="d-flex align-items-center link-white text-decoration-none">
            <span class="fs-5 fw-semibold">platformBMS</span>
        </a>
        <select class="">
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
            <option value="new">+ új instance létrehozása</option>
        </select>
        <hr>
        <h3 class="text-center text-uppercase"><i class="bi bi-speedometer"></i> admin</h3>
        <hr>
        <ul class="list-unstyled ps-0 fw-bold">
            <li>
                <i class="bi bi-speedometer2"></i> Vezérlőpult
                <ul>
                    <li><a href="#">alma</a></li>
                    <li><a href="#">körte</a></li>
                    <li><a href="#">szilva</a></li>
                </ul>
            </li>
            <li class="border-top my-3"></li>
            <li>
                <i class="bi bi-star"></i> Kedvencek
                <ul>
                    <li><a href="#">alma</a></li>
                    <li><a href="#">körte</a></li>
                    <li><a href="#">szilva</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
