<!DOCTYPE html>
<html dir="ltr" lang="{% if app.request.get('_locale') is not empty %}{{ app.request.get('_locale') }}{% else %}en{% endif %}" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <style>
            .roboto {
                 font-family: "Roboto", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: 400;
                 font-style: normal;
                 font-variation-settings: "wdth" 100;
             }

            body {
                font-family: "Roboto", sans-serif;
            }

            label.required:after {
                content: " * ";
                color: red;
            }
            .form-control:invalid:not(textarea) {
                border-color: #fbb0b0;
            }
            .form-control:valid:not(textarea) {
                border-color: green;
            }
        </style>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>
</html>
